$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0;
}

/* Space out content a bit */
body {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.main-header {
    height: 60px;
    width: 100%;
    position: fixed;
    font-size: 14px;
    padding-top: 21px;
    padding-left: 30px;
    z-index: 10;
}

.header-icon {
    display: inline-block;
    width: 30px;
    margin-right: 15px;
}

.header-title {
    display: inline-block;
    width: 230px;
    color: white;
    font-size: 14px;
    font-weight: 200;
    font-family: 'Indie Flower', cursive;
    text-decoration: uppercase;
    letter-spacing: 2px;  
    padding-left: 20px;
    border-left: 1px solid white;
    line-height: 40px;     
}

.navigation-buttons {
    display: inline-block;
    float: right;

    #header-home-button {
        cursor: pointer;
        font-weight: 200;
        letter-spacing: 2px;
        display: inline-block;
        width: 121px;
        height: 40px;
        color: white;
        border: none;
        float: right;
        padding-top: 10px;
        text-align: center;
        margin: 0 auto;

        &:hover {
            outline: 1px solid white;
        }
    }

    #header-menu-button {
        cursor: pointer;
        font-weight: 200;
        letter-spacing: 2px;
        display: inline-block;
        width: 121px;
        height: 40px;
        color: white;
        border: none;
        float: right;
        padding-top: 10px;
        text-align: center;
        margin: 0 auto;

        &:hover {
            outline: 1px solid white;
        }
    }

    #header-about-button {
        cursor: pointer;
        font-weight: 200;
        letter-spacing: 2px;
        display: inline-block;
        width: 121px;
        height: 40px;
        color: white;
        border: none;
        float: right;
        padding-top: 10px;
        text-align: center;
        margin: 0 auto;
        -webkit-transition: all .2s ease-in-out;

        &:hover {
            outline: 1px solid white;
        }
    }

    #header-contact-button {
        cursor: pointer;
        font-weight: 200;
        letter-spacing: 2px;
        display: inline-block;
        width: 121px;
        height: 40px;
        color: white;
        border: none;
        float: right;
        padding-top: 10px;
        text-align: center;
        margin: 0 auto;
        -webkit-transition: all .2s ease-in-out;

        &:hover {
            outline: 1px solid white;
        }
    }

    #header-blog-button {
        cursor: pointer;
        font-weight: 200;
        letter-spacing: 2px;
        display: inline-block;
        width: 121px;
        height: 40px;
        color: white;
        border: none;
        float: right;
        padding-top: 10px;
        margin-right: 15px;
        text-align: center;
        -webkit-transition: all .2s ease-in-out;

        &:hover {
            outline: 1px solid white;
        }
    }

    .american-icon {
        cursor: pointer;
        display: inline-block;
        margin-right: 25px;
        width: 20px;
        height: auto;
        float: right;

        .american-flag {
            padding-top: 11px;
            width: 20px;
        }
    }

    .japanese-icon {
        cursor: pointer;
        display: inline-block;
        margin-right: 20px;
        width: 20px;
        height: auto;
        float: right;

        .japanese-flag {
            padding-top: 11px;
            width: 20px;
        }
    }
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    z-index: -2
}

.main-logo-container {
    position: absolute;
    width: 100%;
    margin-top: 8%;
    z-index: 10;

    .main-logo {
        width: 25%;
        height: auto;
        margin-top: 5%;
    }
}
    
.background-image {
    max-width: 100%;
    height: auto;
    z-index: -1;
    filter: sepia(.5);
    -webkit-filter: sepia(.5);
    -moz-filter: sepia(.5);
    -o-filter: sepia(.5);
    -ms-filter: sepia(.5);
}








// About section start.

.about-section {
    height: auto;
    width: 100%;
    position: relative;
    text-align: center;
    padding-bottom: 100px;

    .about-header {
        position: relative;
        padding-top: 30px;
        width: 100%;
        height: auto;
        text-align: center;

        .about-title {
            font-family: 'Indie Flower', cursive;
            font-size: 25px;
            font-weight: bold;
            color: rgb(86, 145, 137);
            letter-spacing: 1px;
        }

        .about-copy {
            font-size: 13px;
            font-weight: 200;
            margin-left: 150px;
            margin-right: 150px;
            color: grey;
            letter-spacing: 1px;

            @media only screen and (max-width : 615px) {
                display: none;
            }
        }
    }

    .view {
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
        width: 100%;
    }

    .view .mask, .view .content {
        margin-top: 26px;
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
    }

    .view img {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        filter: sepia(.2);
        -webkit-filter: sepia(.2);
        -moz-filter: sepia(.2);
        -o-filter: sepia(.2);
        -ms-filter: sepia(.2);
        outline: 1px solid white;
        outline-offset: -25px;
    }

    .view h2 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        position: relative;
        font-size: 45px;
        letter-spacing: 1px;
        padding: 14px;
        background: rgba(0, 0, 0, 0.8);
        margin: 20px 0 0 0
    }

    .view a.info {
        display: inline-block;
        text-decoration: none;
        padding: 16px 85px;
        background: rgb(86, 145, 137);
        color: #fff;
        text-transform: uppercase;
        margin-top: 35px;

        &:hover {
            box-shadow: 0 0 5px #000;
        }
    }


    //Images

    .view-second img {  
        transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
    }

    .view-second .mask { 
        background-color: rgba(12, 19, 27, 0.6); 
        width: 100%;
        padding: 300px;
        height: auto;
        opacity: 0;
        transform: translate(265px, 145px) rotate(45deg);
        -webkit-transform: translate(265px, 145px) rotate(45deg);
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
    }

    .view-second h2 {
        background: transparent;
        margin: 20px 40px 0px 40px;
       -webkit-transform: translate(200px, -200px);
        transform: translate(200px, -200px);
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .view-second a.info { 
        transform: translate(0px, 400px);
        -webkit-transform: translate(0px, 400px);
        transition: all 0.2s 0.1s ease-in-out;
        -webkit-transition: all 0.2s 0.1s ease-in-out;
    } 

    /* */

    .view-second:hover .mask { 
        opacity:1; 
        transform: translate(0px, -90px) rotate(90deg);
        -webkit-transform: translate(0px, -90px) rotate(90deg);
    }

    .view-second:hover h2 { 
        transform: translate(0px,0px);
        -webkit-transform: translate(0px,0px);
        transition-delay: 0.3s; 
        -webkit-transition-delay: 0.3s; 
    }

    .view-second:hover a.info { 
        transform: translate(0px,0px); 
        -webkit-transform: translate(0px,0px); 
        transition-delay: 0.5s;
        -webkit-transition-delay: 0.5s;
    }

    .about-owner {
        width: 33.333%;
        height: auto;
        display: inline-block;
        margin-top: 75px;
        float: left;
        text-align: center;
        position: relative;
        overflow: hidden;
    }

    .about-bar {
        width: 33.333%;
        height: auto;
        display: inline-block;
        margin-top: 75px;
        float: left;
        text-align: center;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }

    .about-roastery {
        width: 33.333%;
        height: auto;
        display: inline-block;
        margin-top: 75px;
        text-align: center;
        position: relative;
        overflow: hidden;
    }
}










.menu-section {
    height: auto;
    width: 100%;
    position: relative;
    text-align: center;
    padding-bottom: 100px;

    .menu-header {
        position: relative;
        padding-top: 30px;
        width: 100%;
        height: auto;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: rgb(86, 145, 137);

        .menu-title {
            font-family: 'Indie Flower', cursive;
            font-size: 25px;
            font-weight: bold;
            color: white;
            letter-spacing: 1px;
            margin: 0 auto;
        }
    }

    .menu-table {
        background-color: gainsboro;
        padding: 50px;
        width: 70%;
        height: 780px;
        margin: 0 auto;
        margin-top: 60px;
        outline: 1px solid rgba(86, 145, 137, .5);
        outline-offset: -35px;

    }


}





















.page-footer {
    height: 500px;
    width: 100%;
    background-color: rgb(86, 145, 137);
    position: relative;
    color: white;

    .footer-texture {
        position: relative;
        width: 100%;
        height: 500px;
        opacity: .5;
        overflow: hidden;
    }
}
















































// .container {
//     width: 100%;
// }

// /* Everything but the jumbotron gets side spacing for mobile first views */
// .header,
// .marketing,
// .footer {
//     width: 100%;
//     padding-left: 15px;
//     padding-right: 15px;
// }

// /* Custom page header */
// .header {
//     border-bottom: 1px solid #e5e5e5;

//     Make the masthead heading the same height as the navigation
//     h3 {
//         margin-top: 0;
//         margin-bottom: 0;
//         line-height: 40px;
//         padding-bottom: 19px;
//     }
// }

// /* Custom page footer */
// .footer {
//     padding-top: 19px;
//     color: #777;
//     border-top: 1px solid #e5e5e5;
// }

// .container-narrow > hr {
//     margin: 30px 0;
// }

// /* Main marketing message and sign up button */
// .jumbotron {
//     text-align: center;
//     border-bottom: 1px solid #e5e5e5;
//     .btn {
//         font-size: 21px;
//         padding: 14px 24px;
//     }
// }

// /* Supporting marketing content */
// .marketing {
//     margin: 40px 0;
//     p + h4 {
//         margin-top: 28px;
//     }
// }
















// /* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//     .container {
//         max-width: 730px;
//     }

//     /* Remove the padding we set earlier */
//     .header,
//     .marketing,
//     .footer {
//         padding-left: 0;
//         padding-right: 0;
//     }

//     /* Space out the masthead */
//     .header {
//         margin-bottom: 30px;
//     }
    
//     /* Remove the bottom border on the jumbotron for visual effect */
//     .jumbotron {
//         border-bottom: 0;
//     }
// }
